<mat-toolbar color="primary">
<span>
  E-commerce Application
</span>
<span class="space-button"></span>
<button *ngIf="!isLoggedIn()" mat-raised-button color="primary"  routerLink="/login">
Login
</button>
<button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logOut()">
  Logout
  </button>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button mat-raised-button *ngIf="!isAdmin()" color="primary" routerLink="/getCartDetails">Cart</button>
  <button mat-raised-button *ngIf="!isAdmin()" color="primary" routerLink="/myorders">My Order</button>
  <button mat-raised-button *ngIf="isAdmin()" color="primary" routerLink="/addNewProduct" >Add New Product</button>
  <button mat-raised-button *ngIf="isAdmin()" color="primary" routerLink="/products" >Show Product Details</button>
  <button mat-raised-button *ngIf="isAdmin()" color="primary" routerLink="/orderInformation">Order Information</button>
</mat-toolbar>  