<div class="container mt-5">
<mat-form-field appearance="outline" class="w-100">
  <mat-label>
    Search any product
  </mat-label>
  <input name="searchKey" #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" id="searchKey" matInput
    placeholder="Search any Product">
</mat-form-field>

    <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10">
        <mat-grid-tile *ngFor="let p of productDetails">
          <div class="row home-page-product-image">
            <img [src]="p.productImages[0]?.url" alt="" height="300px">
            <div class="mt-3">
              <p><b> {{p.productName}}</b></p>
            </div>
            <div class="mt-2">
              <p>{{p.productDescriptions}}</p>
            </div>
            <div class="mt-2">
              <b>Rs. {{p.productDiscountedPrice}}</b><b style="text-decoration: line-through;"> {{p.productActualPrice}}</b>
            </div>
            <div class="mt-2">
              <button type="button" mat-raised-button color="warn"(click)="showProductDetails(p.productId)">View Details</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="text-center mt-5" *ngIf="showProductbutton">
        <button type="submit" mat-raised-button color="primary" (click)="loadMoreProduct()">Load more</button>
      </div>  
       
</div>